{% include "header.html" %}

        <main class="px-3">
           <div class="row" id="row1">
              <h1>Need help to find a movie?</h1>
              <p class="lead">Enter your preferences or be surprised with a random movie:</p>
              <p class="lead">
              </p>
            </div>

            <div class="row" id="row2">
                <div class="col-12 mx-5" id="form-bg">
                <form action="{{ url_for('result') }}" method="post" class="row text-white font-weight-bold ">
                    <!--LEFT SIDE-->
                    <div class="col-lg-6 text-start" id="left-side">
                        <label for="genre">Genre</label> <br>
                        {% for genre in genre_list %}
                        <input type="checkbox" class="btn-check" id="btn-check {{genre}}" autocomplete="off" name="genre" value="{{genre}}">
                        <label class="btn btn-danger me-1" for="btn-check {{genre}}">{{genre}}</label>
                        {% endfor %} <br><br>

                        <label for="decade" class="mb-2">Decade</label><br>
                        {% for key, value in decades.items() %}
                        <input type="checkbox" class="btn-check" name="decade" id="option{{ key }}" autocomplete="off" value="{{ key }}" onchange="handleCheckboxChange(this)">
                        <label class="btn btn-danger" for="option{{ key }}">{{ key }}</label>
                        {% endfor %} <br><br>

                        <label for="length" class="mb-2">Runtime</label><br>
                        {% for key, value in lengths.items() %}
                        <input type="checkbox" class="btn-check" name="length" id="option2 {{ key }}" autocomplete="off" value="{{ key }}" onchange="handleCheckboxChange(this)">
                        <label class="btn btn-danger" for="option2 {{ key }}">{{ key }}</label>
                        {% endfor %} <br><br>
                        <div class="col-6">
                        <label for="rating" class="form-label">Minimum Rating</label> <br>
                        <input type="range" class="form-range" value="5" min="1" max="8" id="rating" oninput="this.nextElementSibling.value = this.value">
                        <output>5</output>
                        </div>

                        <script>
                        function handleCheckboxChange(checkbox) {
                          var checkboxes = document.querySelectorAll('input[name="' + checkbox.name + '"]');
                          checkboxes.forEach(function (cb) {
                            if (cb !== checkbox) {
                              cb.checked = false;
                            }
                          });
                        }
                        </script>
                    </div>
                    <!--RIGHT SIDE-->
                    <div class="col-lg-6 text-start" id="right-side">
                        <label for="streaming_services">Streaming Services</label><br>
                        {% for service in service_list %}
                        <input type="checkbox" class="btn-check" id="btn-check {{service}}" autocomplete="off" name="streaming_services" value="{{service}}">
                        <label class="btn btn-danger me-1" for="btn-check {{service}}">
                            <img src="static/assets/img/{{service}}.png" alt="{{service}}" style="width: 50px; height: 50px;">
                        </label>
                        {% endfor %} <br><br>

                        <label for="country">Country</label><br>
                        <input type="text" id="country" name="country" placeholder="Germany">
                        <br><br>

                        <label for="name">Cast & Crew</label><br>
                        <input type="text" id="name" name="name" placeholder="Tom Holland">
                        <br><br>

                        <input type="submit" class="btn btn-lg btn-primary fw-bold border-white bg-blue" value="Search" id="searchButton">
                            <div id="searchSpinner" class="d-none">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Searching...</span>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
            </div>

        </main>

        <script>
        const searchButton = document.getElementById("searchButton");
        const searchSpinner = document.getElementById("searchSpinner");

        searchButton.addEventListener("click", function() {
          searchButton.classList.add("d-none"); // Hide search button
          searchSpinner.classList.remove("d-none"); // Show spinner
        });

        // Handle potential form submission success or failure (optional)
        // You can update the spinner visibility based on the response from the server.
        </script>

{% include "footer.html" %}
